extends layout

block content
  h1= 'Manholes Within Radius'

  ul
    each manhole in manhole_list
      li 
        a(href=manhole.url) #{manhole.name} 
        | (Latitude: #{manhole.latitude}, Longitude: #{manhole.longitude})

    else
      li There are no manholes within that radius.