{{#leaflet-map lat=lat lng=lng zoom=zoom as |layers|}}

  {{layers.tile url="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"}}
  
  {{#marker-layer
    lat=selection.lat
    lng=selection.lng
    draggable=true
    onDragend=(action "updateLocation")
  }}
  {{/marker-layer}}

  {{#circle-layer radius=maxDistance lat=selection.lat lng=selection.lng}}
  {{/circle-layer}}

  {{#each model as |manhole|}}
    {{#marker-layer lat=manhole.latitude lng=manhole.longitude}}
    {{/marker-layer}}
  {{/each}}
  
{{/leaflet-map}}

<span>Latitude:</span> {{input type="number" value=selection.lat}}
<span>Longitude:</span> {{input type="number" value=selection.lng}}
<span>Min Distance:</span> {{input type="number" value=minDistance}}
<span>Max Distance:</span> {{input type="number" value=maxDistance}}

<button {{action "submitQuery"}}>Query</button>

<span>Name:</span> {{input type="text" value=name size="100" required="true"}}
<button {{action "submitCreate"}}>Add to database</button>

<h2>Results</h2>

{{results}}

  {{#each model as |manhole|}}
    <h3>
      {{!-- model name as 2nd arg seralizes to model_id by default --}}
      {{#link-to "manholes.detail" manhole}}
        {{manhole.name}}
      {{/link-to}}
    </h3>
    <span>Latitude:</span> {{manhole.latitude}}
    <span>Longitude:</span> {{manhole.longitude}}
  {{/each}} 