{{#g-map lat=lat lng=lng
  zoom=zoom 
  tilt=0
  mapTypeId='satellite' 
  styles=primaryMapStyle as |g|}}
  
  {{g.circle lat=circle.lat lng=circle.lng 
    radius=circle.outer
    fillColor="green"
    fillOpacity=0.3
    strokeColor="darkgreen"
    strokeOpacity=0.5
    strokeWeight=1
    draggable=true
    onDragend=(action "onDragend")}}

  {{#each model as |manhole|}}
    {{g.marker lat=manhole.latitude lng=manhole.longitude}}
  {{/each}}

{{/g-map}}

<div class="layout layout-sm-column">
  {{paper-input class="flex-30" label="Latitude" type="number" placeholder="-90:90" value=circle.lat onChange=(action (mut circle.lat))}}
  {{paper-input class="flex-30" label="Longitude" type="number" placeholder="-180:180" value=circle.lng onChange=(action (mut circle.lng))}}
  {{paper-input class="flex-30" label="Minimum Distance" type="number" value=minDistance onChange=(action (mut minDistance))}}
  {{paper-input class="flex-40" label="Maximum Distance" type="number" value=maxDistance onChange=(action (mut maxDistance)) change=(action "updateRadius")}}
</div>

<button {{action "submitQuery"}}>Query</button>

<h2>Results</h2>

<div class="layout layout-sm-column">
  {{#each model as |manhole|}}
    <h3>
      {{!-- model name as 2nd arg seralizes to model_id by default --}}
      {{#paper-button raised=true primary=true onClick=(action "manholeLink" manhole)}}

        {{manhole.name}}

      {{/paper-button}}
    </h3>

  {{/each}}
</div>